.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
}

/* la fausse navbar en attendant que le collègue fasse la vraie sur sa branche */
.navbar-placeholder {
  height: 60px;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
}

.board-container {
  display: flex;
  padding: 24px;
  gap: 24px;
  flex-grow: 1;
  overflow-x: auto;
  /* ça c'est pour que les colonnes soient longues jusqu'en bas comme sur la maquette */
  align-items: stretch;
}
