.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* fond global de l'appli */
  background-color: var(--color-bg);
}

.board-container {
  display: flex;
  /* j'ai réduit les marges et les espaces pour que les 5 colonnes rentrent bien dans l'écran */
  padding: 24px; 
  gap: 16px;
  flex-grow: 1;
  overflow-x: auto;
  align-items: stretch;
}
