.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* ça c'est notre fond global tout propre */
  background-color: var(--color-bg);
}

.board-container {
  display: flex;
  padding: 32px; /* un peu plus d'air autour du tableau */
  gap: 24px;
  flex-grow: 1;
  overflow-x: auto;
  align-items: stretch;
}
